
@{
    ViewBag.Title = "上传文件";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head
{
<link href="~/Content/zyupload/skins/zyupload-1.0.0.min.css" rel="stylesheet" />
<script src="~/Content/zyupload/zyupload-1.0.0.min.js"></script>
<script type="text/javascript">
        $(function() {
            // 初始化插件
            $("#zyupload").zyUpload({
                width: "560px", // 宽度
                height: "400px", // 高度
                itemWidth: "140px", // 文件项的宽度
                itemHeight: "115px", // 文件项的高度
                url: "/UploadFile", // 上传文件的路径
                fileType: ["jpg", "png","git"], // 上传文件的类型
                fileSize: 1500000, // 上传文件的大小
                multiple: true, // 是否可以多个文件上传
                dragDrop: true, // 是否可以拖动上传文件
                tailor: true, // 是否可以裁剪图片
                del: true, // 是否可以删除文件
                finishDel: false, // 是否在上传文件完成后删除预览
                /* 外部获得的回调接口 */
                onSelect: function(selectFiles, allFiles) { // 选择文件的回调方法  selectFile:当前选中的文件  allFiles:还没上传的全部文件
                },
                onDelete: function(file, files) { // 删除一个文件的回调方法 file:当前删除的文件  files:删除之后的文件
                },
                onSuccess: function (file, response) { // 文件上传成功的回调方法
                    
                },
                onFailure: function (file, response) { // 文件上传失败的回调方法
                    alert("此文件上传失败");
                },
                onComplete: function(response) { // 上传完成的回调方法

                }
            });

        });

</script>
}

<div id="zyupload"></div> 

